<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>
	
   <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>edu.fjnu.fundtradesys.utils.CharacterEncodingFilter</filter-class>
   </filter>
   <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>edu.fjnu.fundtradesys.utils.AuthenticationFilter</filter-class>
    <init-param>
      <param-name>validate-objects</param-name>
      <param-value>fundMgr,clientMgr,financial_accountMgr,acctransinfoMgr,fund_tradeMgr,fundholdinginfoMgr</param-value>
    </init-param>
    </filter>
	
	<servlet>
		<servlet-name>ServletConfigurator</servlet-name>
		<servlet-class>
			org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
		<init-param>
			<param-name>xmlFile</param-name>
			<param-value>WEB-INF/proxool.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SecurityMgrServlet</servlet-name>
		<servlet-class>edu.fjnu.fundtradesys.controller.SecurityMgrServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FundMgrServlet</servlet-name>
		<servlet-class>edu.fjnu.fundtradesys.controller.FundMgrServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ClientMgrServlet</servlet-name>
		<servlet-class>edu.fjnu.fundtradesys.controller.ClientMgrServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>FinancialAccountMgrServlet</servlet-name>
    <servlet-class>edu.fjnu.fundtradesys.controller.FinancialAccountMgrServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountTransInfoMgrServlet</servlet-name>
    <servlet-class>edu.fjnu.fundtradesys.controller.AccountTransInfoMgrServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FundTradeMgrServlet</servlet-name>
    <servlet-class>edu.fjnu.fundtradesys.controller.FundTradeMgrServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FundHoldingInfoMgrServlet</servlet-name>
    <servlet-class>edu.fjnu.fundtradesys.controller.FundHoldingInfoMgrServlet</servlet-class>
  </servlet>

  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
	<servlet-mapping>
		<servlet-name>SecurityMgrServlet</servlet-name>
		<url-pattern>/securityMgr</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FundMgrServlet</servlet-name>
		<url-pattern>/fundMgr</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClientMgrServlet</servlet-name>
		<url-pattern>/clientMgr</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>FinancialAccountMgrServlet</servlet-name>
    <url-pattern>/financial_accountMgr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountTransInfoMgrServlet</servlet-name>
    <url-pattern>/acctransinfoMgr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FundTradeMgrServlet</servlet-name>
    <url-pattern>/fund_tradeMgr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FundHoldingInfoMgrServlet</servlet-name>
    <url-pattern>/fundholdinginfoMgr</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
